<!DOCTYPE html>
<html>
    <head>
        <title>Childhood Hunger Project</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand text-white" href="#">Childhood Hunger Project</a>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ml-auto">
                        <a class="nav-item nav-link active text-white" href="/">Home<span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link text-white" href="/project">The Project</a>
                        <a class="nav-item nav-link text-white" href="#">Checkout</a>
                    </div>
                </div>
        </nav>


