<% include partials/header.ejs %>

<div>
  <div class="jumbotron jumbotron-fluid">
      <div class="purp-container row">
        <div class="home-left-div col-md-6 d-flex align-items-center">
            <h1 class="home-title text-white">Ending Denver's <br> Hunger Problem</h1>
        </div>
        <div class="col-md-6 d-flex align-items-center">
            <span class="enter-button"><a href="project" class="text-white">Enter</a></span>
        </div>
      </div>
  </div>
</div>

<% include partials/footer.ejs %>

