<% include partials/header.ejs %>

<div>
    <div class="jumbotron jumbotron-fluid">
        <div class="purp-container row">
            <h1>Made it!!</h1>
        </div>    
    </div>
</div>

<% include partials/footer.ejs %>

